# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Node
node_modules/
frontend/dist/

# Environment
.env

# Database
*.db

# Uploads
backend/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Test
.pytest_cache/
.coverage
htmlcov/

# Task file
Stanislav-test-task.html
